VYMSolucion.Web/Service References/ServiceReferenceCatalogo/ServiceCatalogo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/VYMSolucion.Service/ServiceCatalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" />
  <xs:element name="ListaGenero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGeneroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaGeneroResult" nillable="true" type="q1:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstadoCivil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstadoCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaEstadoCivilResult" nillable="true" type="q2:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPerfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaPerfilesResult" nillable="true" type="q3:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoSangre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoSangreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaTipoSangreResult" nillable="true" type="q4:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaParentesco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaParentescoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaParentescoResult" nillable="true" type="q5:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaDias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaDiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaFechaDiasResult" nillable="true" type="q6:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaMeses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaMesesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaFechaMesesResult" nillable="true" type="q7:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaAnios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaAniosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaFechaAniosResult" nillable="true" type="q8:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaAniosMenorEdad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFechaAniosMenorEdadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaFechaAniosMenorEdadResult" nillable="true" type="q9:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>