VYMSolucion.Web/Service References/ServiceReferenceCatalogo/ServiceCatalogo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComboModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboModel" nillable="true" type="tns:ComboModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboModel" nillable="true" type="tns:ArrayOfComboModel" />
  <xs:complexType name="ComboModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboModel" nillable="true" type="tns:ComboModel" />
</xs:schema>