VYMSolucion.Web/Service References/ServiceReferenceGeneral/ServiceGeneral.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/VYMSolucion.Service/ServiceGeneral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" />
  <xs:element name="LeerTodosCentroAdministrativo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerTodosCentroAdministrativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="LeerTodosCentroAdministrativoResult" nillable="true" type="q1:ArrayOfCentroAdministrativoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerCentroAdministrativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCentroAdministrativo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerCentroAdministrativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="LeerCentroAdministrativoResult" nillable="true" type="q2:CentroAdministrativoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCentroAdministrativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q3:CentroAdministrativoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCentroAdministrativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearCentroAdministrativoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCentroAdministrativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q4:CentroAdministrativoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCentroAdministrativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarCentroAdministrativoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCentroAdministrativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q5:CentroAdministrativoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCentroAdministrativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCentroAdministrativoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodasUbicacionGeografica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodasUbicacionGeograficaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaTodasUbicacionGeograficaResult" nillable="true" type="q6:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodasUbicacionGeograficaHijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUbicacionGeograficaPadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodasUbicacionGeograficaHijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ListaTodasUbicacionGeograficaHijoResult" nillable="true" type="q7:ArrayOfComboModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCuentaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q8:IniciarSesionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCuentaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCuentaUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ObtenerDatosUsuarioResult" nillable="true" type="q9:DatosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRegistroProfesional">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q10:ProfesionalModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRegistroProfesionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearRegistroProfesionalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRegistroPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q11:PacienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRegistroPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearRegistroPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parametroActivacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="ActivarCuentaResult" nillable="true" type="q12:DatosUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoRepetido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoRepetidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCorreoRepetidoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCedulaRuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaRuc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCedulaRucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCedulaRucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q13:PacienteTitularModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEntidadPersona" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="LeerPacienteResult" nillable="true" type="q14:PacienteTitularModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerPacientesEntidadPersonaPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEntidadPersona" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerPacientesEntidadPersonaPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="LeerPacientesEntidadPersonaPadreResult" nillable="true" type="q15:ArrayOfPacienteTitularModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q16:PacienteTitularModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarDesactivarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/VYMSolucion.Model" minOccurs="0" name="model" nillable="true" type="q17:PacienteTitularModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarDesactivarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivarDesactivarPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>